*~
aclocal.m4
adwm
adwm.1
adwm.1.man
adwm-config.man
adwm-config.5
adwm-keys.man
adwm-keys.5
adwm.man
adwm-style.man
adwm-style.5
autoconf.h
autoconf.h.in
autoconf.h.in~
autom4te.cache/
autoscan.log
boldquot.sed
_build/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure.ac.bak
configure.scan
core
cscope.*
depcomp
.deps/
en@boldquot.header
en@boldquot.insert-header
en@boldquot.po
en@quot.header
en@quot.insert-header
en@quot.po
ewmhpanel
*.gmo
insert-header.sin
_install/
*.la
.libs/
libtool
*.lo
*.log
ltmain.sh
m4/
Makefile
Makefile.in
Makefile.in.in
Makevars.template
*.man
.nfs*
NOTES.html
*.o
POTFILES
quot.sed
README
README.html
README.txt
remove-potcdate.sed
remove-potcdate.sin
Rules-quot
scripts/
stamp-h*
stamp-po
.*.sw[mnop]
tags
*.tar.*
_test/
*.tmp
