*~
aclocal.m4
adwm
adwm.man
adwm-keys.man
AUTHORS
autoconf.h
autoconf.h.in
autom4te.cache/
autoscan.log
_build/
ChangeLog
config.log
config.status
configure
configure.ac
configure.scan
COPYIN
COPYING
cscope.*
.deps/
INSTALL
_install/
*.log
Makefile
Makefile.in
NEWS
.nfs*
*.o
README
scripts/
stamp-h1
.*.sw[nop]
*.tar.*
_test/
tests/ewmhpanel
adwm.1.man
