*~
aclocal.m4
adwm
adwm.1.man
adwm-config.man
adwm-keys.man
adwm.man
adwm-style.man
autoconf.h
autoconf.h.in
autoconf.h.in~
autom4te.cache/
autoscan.log
_build/
config.log
config.status
configure
configure.ac.bak
configure.scan
COPYING
core
cscope.*
.deps/
ewmhpanel
INSTALL
_install/
*.la
.libs/
libtool
*.lo
*.log
m4/
Makefile
Makefile.in
*.man
.nfs*
NOTES.html
*.o
README
README.html
README.txt
scripts/
stamp-h*
.*.sw[mnop]
tags
*.tar.*
_test/
*.tmp
